[submodule "upstream/codex-cli"]
	path = upstream/codex-cli
	url = https://github.com/openai/codex.git
[submodule "upstream/opencode"]
	path = upstream/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "upstream/pi"]
	path = upstream/pi
	url = https://github.com/badlogic/pi-mono.git
[submodule "upstream/omp"]
	path = upstream/omp
	url = https://github.com/can1357/oh-my-pi.git
